# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/BaseFramework/FileContentIndex/2c94b8e1-f45c-4e69-ae4b-d1b74503ca1a.vsidx
.vs/BaseFramework/FileContentIndex/beb70bb2-b503-4214-b037-4c6b2406d9a6.vsidx
.vs/BaseFramework/FileContentIndex/c81d0f07-d0a2-4fc1-98b8-404069ba913f.vsidx
.vs/BaseFramework/FileContentIndex/ed5f19f9-a504-4bd8-bdcf-f810d626f3c6.vsidx
.vs/BaseFramework/v17/.suo
.vs/BaseFramework/v17/Browse.VC.db
.vs/BaseFramework/v17/Browse.VC.db-shm
.vs/BaseFramework/v17/Browse.VC.db-wal
.vs/BaseFramework/v17/Browse.VC.opendb
.vs/BaseFramework/v17/DocumentLayout.json
.vs/BaseFramework/v17/fileList.bin
.vs/BaseFramework/v17/ipch/29d65995a9ab4452.ipch
.vs/BaseFramework/v17/ipch/5f176f43de7ec407.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/12b153bc3ec98a6/WMKDIR.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/13966dda724007c3/CORECRT_INTERNAL.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/15e182397d88e869/XMTX.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/232fe3128b55cdc4/ASSERT.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/269c2913f6d9c1d3/XLOCK.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/25a217533f8729bd/XMTX.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/2b0ffa72bf78a2ef/DEBUG_HEAP.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/2ba6b2635040d0a5/CORECRT_INTERNAL_TRAITS.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/2c986d771eb54b3/MKDIR.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/2d3ce15d2954ddb7/ERRNO.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/2d7de684b0f94d96/MAIN.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/2fbffdfff057c34b/STRNLEN.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/3cf4b563940b1253/DEBUG_HEAP.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/41db477e7ba36797/XMTX.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/4885e19340d63ad/NEW_MODE.ipch
.vs/BaseFramework/v17/ipch/AutoPCH/489d163fd2873205/DELETE_SCALAR_SIZE.ipch
/.vs
